
@font-face {
	font-family: 'Exo2-Medium';
	src: url('../fonts/Exo2-Medium.eot') format('embedded-opentype');
	src: url('../fonts/Exo2-Medium.otf') format('opentype'),
		  url('../fonts/Exo2-Medium.svg') format('svg'),
		  url('../fonts/Exo2-Medium.ttf') format('truetype'),
		  url('../fonts/Exo2-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Exo2-Light';
	src: url('../fonts/Exo2-Light.eot') format('embedded-opentype');
	src: url('../fonts/Exo2-Light.otf') format('opentype'),
		  url('../fonts/Exo2-Light.svg') format('svg'),
		  url('../fonts/Exo2-Light.ttf') format('truetype'),
		  url('../fonts/Exo2-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Exo2-Regular';
	src: url('../fonts/Exo2-Regular.eot') format('embedded-opentype');
	src: url('../fonts/Exo2-Regular.otf') format('opentype'),
		  url('../fonts/Exo2-Regular.svg') format('svg'),
		  url('../fonts/Exo2-Regular.ttf') format('truetype'),
		  url('../fonts/Exo2-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Exo2-LightItalic';
	src: url('../fonts/Exo2-LightItalic.eot') format('embedded-opentype');
	src: url('../fonts/Exo2-LightItalic.otf') format('opentype'),
		  url('../fonts/Exo2-LightItalic.svg') format('svg'),
		  url('../fonts/Exo2-LightItalic.ttf') format('truetype'),
		  url('../fonts/Exo2-LightItalic.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}