/*footer*/
#contact{
    background-image: url(../images/footerBg.png);
    margin-top: 70px;
	background-repeat: no-repeat;
    padding-bottom: 23px;
}
.cont{
    display: inline-block;
	margin-right: 7px;
	width: 42px;
    height: 42px;
	background-size: contain;
    background-repeat: no-repeat;
	transition: all 1s;
}

.cont_f{background-image: url(../images/cont_f.png);}
.cont_f:hover{background-image: url(../images/cont_fActive.png);transition: all 0.5s;}

.cont_vk{background-image: url(../images/cont_vk.png);}
.cont_vk:hover{background-image: url(../images/cont_vkActive.png);transition: all 0.5s;}

.cont_i{background-image: url(../images/cont_i.png);}
.cont_i:hover{background-image: url(../images/cont_iActive.png);transition: all 0.5s;}

.cont_t{background-image: url(../images/cont_t.png);}
.cont_t:hover{background-image: url(../images/cont_tActive.png);transition: all 0.5s;}

.cont_ok{background-image: url(../images/cont_ok.png);}
.cont_ok:hover{background-image: url(../images/cont_okActive.png);transition: all 0.5s;}

.textBlockContacts{
    color: #fff;
    font-family: 'Exo2-Medium';
}
.textBlockContacts h3{
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 45px;
    margin-bottom: 40px;
}
.textBlockContacts h4{
    font-size: 21px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.textBlockContacts h5{
    font-size: 18px;
}
.oneh5{
    margin-bottom: 24px;
}
.twoh5{
    margin-bottom: 5px;
}
.mail_h4{
    margin-top: 23px;
}
.iconsContacts{
    margin-top: 58px;
    margin-bottom: 98px;
}
.send{
    font-family: 'Exo2-Regular';
    background-color: #fff;
    width: 100%;
    max-width: 499px;
    text-align: center;
    padding: 44px 50px 50px 50px;
    box-shadow: 0px -7px 20px 3px rgba(0, 0, 0, 0.12);
    margin-top: -48px;
}
.send h3{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 6px;
}
.send h4{
    font-size: 24px;
    font-family: 'Exo2-Regular';
    margin-bottom: 71px;
}
.send textarea{
    height: 110px;
    resize: none;
}
.send textarea,
.send input[type="text"]{
    border: 0;
    border-bottom: 1px solid #a8acb4;
    color:#303743;
    font-size: 18px;
    outline: 0;
    padding-bottom: 6px;
    width: 100%;
    margin-bottom: 41px;
}
.send input[type="text"]::-webkit-input-placeholder {color:#303743;}
.send input[type="text"]::-moz-placeholder          {color:#303743;}/* Firefox 19+ */
.send input[type="text"]:-moz-placeholder           {color:#303743;}/* Firefox 18- */
.send input[type="text"]:-ms-input-placeholder      {color:#303743;}
.send input[type="text"]::-webkit-input-placeholder {color:#303743;}

.send textarea::-webkit-input-placeholder {color:#303743;}
.send textarea::-moz-placeholder          {color:#303743;}/* Firefox 19+ */
.send textarea:-moz-placeholder           {color:#303743;}/* Firefox 18- */
.send textarea:-ms-input-placeholder      {color:#303743;}
.send textarea::-webkit-input-placeholder {color:#303743;}


.send input[type="text"]::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.3s ease;}
.send input[type="text"]::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.3s ease;}
.send input[type="text"]:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.3s ease;}
.send input[type="text"]:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.3s ease;}
.send input[type="text"]:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.3s ease;}
.send input[type="text"]:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.3s ease;}
.send input[type="text"]:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.3s ease;}
.send input[type="text"]:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.3s ease;}

.send .cont_submit{
    background-color: #27d069;
    border: 0;
    color: #FFF;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 52px;
    padding: 0 42px;
    border-radius: 0px;
    transition: all 1s;
}
.send .cont_submit:hover{
    border-radius: 10px;
    transition: all 0.5s;
}
/*end footer*/

/*copyrights*/
.copyrights{
	background-color:#1b1b1b;
}
.copyrights p{
	color:#6a6a6a;
	font-size:18px;
	font-family: 'Exo2-Regular';
	line-height: 68px;
}
/*end copyrights*/